---
import Matrix from "../components/Matrix.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="p-3">
    <h1 class="text-base text-primary-foreground font-bold tracking-tight">
      All the package managers!
    </h1>
    <p class="text-sm">
      Sourced from <a
        href="https://github.com/cnunciato/package-managers"
        class="transition-colors hover:text-link-foreground underline decoration-link-foreground/50"
        target="_blank">github.com/cnunciato/package-managers</a>
    </p>
  </div>
  <Matrix />
</Layout>
